@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CommerceTraining.Models.ViewModels.SearchResultViewModel
<div>
    <h2>Search result</h2>
</div>

<div>
    <b>Type specific:</b>
</div>

<div>
        FashionNodes:
        <ul>
            @foreach (var item in Model.nodes)
            {
                <li>
                    @Html.ContentLink(item.ContentLink)
                </li>
            }
        </ul>

    </div>

    <div>
        ShirtProducts:
        <ul>
            @foreach (var item in Model.products)
            {
                <li>
                    @Html.ContentLink(item.ContentLink)
                </li>
            }
        </ul>

    </div>

    <div>
        ShirtVariants:
        <ul>
            @foreach (var item in Model.variants)
            {
                <li>
                    @Html.ContentLink(item.ContentLink)
                </li>
            }
        </ul>

        <div>
            <b>Generic (IContent)</b>
        </div>
        <ul>
            @foreach (var item in Model.allContent)
            {
                <li>
                    @Html.ContentLink(item.ContentLink)
                </li>
            }
        </ul>

     <div>
        <b>Facets</b>
    </div>
    <div>
        <ul>
            @foreach (var item in Model.facets)
            {
                <li>
                    @item
                </li>
            }
        </ul>
    </div>

    </div>
