<SearchConfig version="1.0">
	<SearchFilters>

    <Filter field="color">
      <Descriptions defaultLocale="en">
        <Description locale="en">Color</Description>
      </Descriptions>
      <Values>
        <SimpleValue key="red" value="red">
          <Descriptions defaultLocale="en">
            <Description locale="en">Red</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="white" value="white">
          <Descriptions defaultLocale="en">
            <Description locale="en">White</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="black" value="black">
          <Descriptions defaultLocale="en">
            <Description locale="en">Black</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="blue" value="blue">
          <Descriptions defaultLocale="en">
            <Description locale="en">Blue</Description>
          </Descriptions>
        </SimpleValue>
      </Values>
    </Filter>
    
	</SearchFilters>
</SearchConfig>