@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CommerceTraining.Models.Pages.OrderViewModel

<div>
    Order Page
</div>

<div>
    Your order number is: @Model.TrackingNumber
</div>
<div>
  
</div>